node_modules/

dist/
build/

logs/
*.log
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db